schemas/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:complexType name="BasePluginConfig" abstract="true">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="dbLegacyId" type="xs:string" minOccurs="0"/>
            <xs:element name="help" type="xs:string"/>
            <xs:element name="version" type="xs:string"/>
            <xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>